<header class="main-header">
  <nav class="header-nav">
    <div class="header-left">
      <a href="/" class="header-logo"> <span style="color:#6c63ff;font-weight:700;">DENTAL CLINIC</span> </a>
    </div>
    <ul class="header-menu">
      <li><a href="/superadmin/dashboard">Dashboard</a></li>
      <li><a href="/superadmin/admins">Admins</a></li>
      <li><a href="/superadmin/system-config">System Config</a></li>
      <li><a href="/superadmin/master-logs">Master Logs</a></li>
      <li><a href="/superadmin/dev-tools">Dev Tools</a></li>
    </ul>
    <div class="header-right">
      <span class="header-icon"><i class="fa fa-bell"></i></span>
      <span class="header-avatar"><img src="https://randomuser.me/api/portraits/women/44.jpg" alt="User" /></span>
    </div>
  </nav>
</header> 